Package: com.ztech.devicechanger
Name: gaulmt -Tech
Version: 4.3.0
Architecture: iphoneos-arm
Description: gaulmt -Tech v4.3 - App + Tweak Hook + Quan ly Key Ban Quyen (1 Key = 1 May) + Auto Reset Zalo
Maintainer: gaulmt -Tech
Author: gaulmt -Tech
Section: Utilities
Depends: firmware (>= 12.0)
Icon: https://gaulmt.github.io/CydiaIcon@3x.png
SileoDepiction: https://gaulmt.github.io/depiction.json
