Package: com.ztech.devicechanger
Name: gaulmt -Tech
Version: 5.0.0
Architecture: iphoneos-arm
Description: gaulmt -Tech v5.0 - Fix Luu Acc Zalo Vao Kho + Hook Chained Fixups iPhone 16 Pro Max + Phim That Paste He Thong + Enterprise Cloud
Maintainer: gaulmt -Tech
Author: gaulmt -Tech
Section: Utilities
Depends: firmware (>= 12.0)
Icon: https://gaulmt.github.io/CydiaIcon@3x.png
SileoDepiction: https://gaulmt.github.io/depiction.json
