Package: com.ztech.devicechanger
Name: gaulmt -Tech
Version: 5.0.1
Architecture: iphoneos-arm
Description: gaulmt -Tech v5.0.1 - Fix Treo/Crash Khi Mo Zalo (Lock-Free Hook) + Luu Acc Zalo Vao Kho + Fake iPhone 16 Pro Max + Phim That Paste He Thong
Maintainer: gaulmt -Tech
Author: gaulmt -Tech
Section: Utilities
Depends: firmware (>= 12.0)
Icon: https://gaulmt.github.io/CydiaIcon@3x.png
SileoDepiction: https://gaulmt.github.io/depiction.json
